## Load in the buddy dataset

In [2]:
import pandas as pd
import sqlite3

In [3]:
# Load in the dataset

buddy = pd.read_csv('buddymove_holidayiq.csv')
buddy.shape

(249, 7)

In [4]:
# Create an SQL connection to a blank dataset

conn = sqlite3.connect('buddymove_holidayiq.sqlite3')


# Put buddy csv into that SQL connection

buddy.to_sql('buddy', con=conn)

C:\Users\John\Anaconda3\lib\site-packages\pandas\core\generic.py:2531: UserWarning: The spaces in these column names will not be changed. In pandas versions < 0.14, spaces were converted to underscores.
  dtype=dtype, method=method)

ValueError: Table 'buddy' already exists.

In [5]:
# Create the connection cursor and check that it has the same number of rows

c = conn.cursor()
query = 'SELECT Count(*) FROM buddy'
c.execute(query).fetchall()

[(249,)]

In [6]:
# Take a further look into the data

query = 'SELECT * FROM buddy'
df = pd.read_sql(query, conn)
df

     index   User Id  Sports  Religious  Nature  Theatre  Shopping  Picnic
0        0    User 1       2         77      79       69        68      95
1        1    User 2       2         62      76       76        69      68
2        2    User 3       2         50      97       87        50      75
3        3    User 4       2         68      77       95        76      61
4        4    User 5       2         98      54       59        95      86
5        5    User 6       3         52     109       93        52      76
6        6    User 7       3         64      85       82        73      69
7        7    User 8       3         54     107       92        54      76
8        8    User 9       3         64     108       64        54      93
9        9   User 10       3         86      76       74        74     103
10      10   User 11       3        107      54       64       103      94
11      11   User 12       3        103      60       63       102      93
12      12   User 13       3         64      82       82        75      69
13      13   User 14       3         93      54       74       103      69
14      14   User 15       3         63      82       81        78      69
15      15   User 16       3         82      79       75        75      82
16      16   User 17       5         59     131      103        54      86
17      17   User 18       5         56     124      108        56      85
18      18   User 19       4         85      67      111        65      72
19      19   User 20       5        114      83       65       114     102
20      20   User 21       4         93      82       79        79      90
21      21   User 22       4        105      52       75       113      78
22      22   User 23       5         69     118       74        66     101
23      23   User 24       4         71     123       64        59     102
24      24   User 25       5         88      94       81        79      91
25      25   User 26       5         83      99       89        74      91
26      26   User 27       5         69     133       74        54     101
27      27   User 28       5        128      53       74       117     105
28      28   User 29       5         74     123       69        61     101
29      29   User 30       5         79      93      118        90      72
..     ...       ...     ...        ...     ...      ...       ...     ...
219    219  User 220      18        114     183      114       109     178
220    220  User 221      18        114     173      183       128     124
221    221  User 222      18        128     134      188        89     124
222    222  User 223      18        143     154      129       129     178
223    223  User 224      18        128     163      173       133     130
224    224  User 225      18        148      99      139       168     129
225    225  User 226      18         83     218      163        74     140
226    226  User 227      22        120     168      158       144     133
227    227  User 228      22        203      99      104       223     173
228    228  User 229      18        143     139      119       139     203
229    229  User 230      22        153     144      139       144     193
230    230  User 231      18        147     144      129       149     144
231    231  User 232      18        188      74      109       213     168
232    232  User 233      25        158     154      154       154     153
233    233  User 234      25        104     208      168       134     144
234    234  User 235      25        139     153      193       158     134
235    235  User 236      25         84     247      168       109     140
236    236  User 237      25        173      89      124       233     158
237    237  User 238       8         93     119       99        89     138
238    238  User 239      22        124     168      208       148     124
239    239  User 240      18        114     158      178       158     124
240    240  User 241      20        188      94       94       223     153
241    241  User 242      25        114     238      124       104     178
242    242  User 243      18         94     188      148        99     139
243    243  User 244      25        129     318       94        89     188
244    244  User 245      18        139     148      129       129     168
245    245  User 246      22        114     228      104        84     168
246    246  User 247      20        124     178      104       158     174
247    247  User 248      20        133     149      139       144     213
248    248  User 249      20        143     149      139       159     143

[249 rows x 8 columns]

### How many users reviewd at least 100 Nature and 100 in shopping?

In [12]:
query = '''SELECT COUNT('User Id') FROM buddy WHERE (Nature >= 100) & (Shopping >= 100)
'''
c.execute(query).fetchone()

(78,)

### What are the average number of reviews for each category?

In [33]:
query = '''SELECT AVG(Sports), AVG(Religious), AVG(Nature), AVG(Theatre), AVG(Shopping), AVG(Picnic) FROM buddy
'''
c.execute(query).fetchall()

[(11.987951807228916,
  109.77911646586345,
  124.51807228915662,
  116.37751004016064,
  112.63855421686748,
  120.40160642570281)]